In [120]:

estudiante = ['Cristóbal','Ugarte',26,'Ing Civil en Ti']
print(list(estudiante))

for i in range(len(estudiante)):
  print(estudiante[i])

['Cristóbal', 'Ugarte', 26, 'Ing Civil en Ti']
Cristóbal
Ugarte
26
Ing Civil en Ti

In [ ]:
nr = int(input('Nr? '))
for i in range(1,nr+1):
  if nr%i == 0:
    print(f"{nr} es divisible por {i}")
  else :
    print(f"{nr} no es divisible por {i}")

In [106]:
x = int(input('Cuantas filas quieres? '))
y = int(input('Cuantas columnas quieres? '))
for i in range(y):
  for j in range(x):
    print('#',end="")
  print()

Cuantas filas quieres? 10
Cuantas columnas quieres? 1
##########

In [91]:
for i in range(10,0,-1):
  print(f'{11-i}) Hola Mundo')

1) Hola Mundo
2) Hola Mundo
3) Hola Mundo
4) Hola Mundo
5) Hola Mundo
6) Hola Mundo
7) Hola Mundo
8) Hola Mundo
9) Hola Mundo
10) Hola Mundo

In [ ]:
count = 0
while True: 
  print('Hola')
  if count == 20:
    break
  count = count + 1
  # count += 1

20
0
100
10000000000
1.1
1
1

In [33]:
#Escribe un programa en Python que solicite números al usuario hasta que este ingrese el número 0. 

#Una vez que el usuario ingresa el 0, el programa despliega el valor del mayor número 
#ingresado (sin contar el cero), el menor número ingresado y detecte si el usuario ingreso un entero,
#en caso contrario deberá volver a pedir un número e indicar que no puede ingresar texto.

r = input('Dame un 0: ')
r = int(r)
count = 0

while r != 0:
  if count == 0:
    max = r
    min = r
  count = count + 1

  r = input('Dame un 0: ')
  while True:
    try:
      val = int(r)
      break
    except ValueError:
      r = input('Dame un 0 no un texto: ')
  r = int(r)
  if r > max:
    max = r
  
  if r != 0 and r < min:
    min = r
  #if r != 0:
   # if r < min:
    #  min = r


print('El nr max ingresado es :',max)
print('El nr min ingresado es :',min)

Dame un 0: 2
Dame un 0: 4.5
Dame un 0 no un texto: 2.3
Dame un 0 no un texto: 2.2
Dame un 0 no un texto: dhisoadsa
Dame un 0 no un texto: hsioa
Dame un 0 no un texto: 821921
Dame un 0: 0
El nr max ingresado es : 821921
El nr min ingresado es : 2