In [1]:
x = 7
y = 5
z = x - y
print(z)

2

In [ ]:
x = 7
y = 5
x = 9
z = x - y
print(z)

In [ ]:
x = 7
y = 5
x = 9
z = x - y
print(z)

In [2]:
x = 7
y = 5
x = 9
z = x - y

ss = "el resultado es: "
print(ss,z)

el resultado es:  4

In [3]:
ss = "el numero ingresado es: "
x = input()
print(ss,x)

20
el numero ingresado es:  20

In [ ]:
ss = "el numero ingresado es: "
x = input()
x = x + 1
print(ss,x)

In [4]:
ss = "el numero ingresado es: "
x = input()
x = int(x)
x = x + 1
print(ss,x)

20
el numero ingresado es:  21